.intro {
    -webkit-box-pack: center;
    /* Centers content in the cross axis */
    -ms-flex-pack: center;
    margin: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    /* Centers content in the main axis */
    align-items: center;
    width: 70%;
    padding: 20px;
    /* Simplified padding */
    border-radius: 20px;
}

.introText {
    padding-left: 25px;
    text-align: left;
    width: 50%;
}

.introText p {
    font-weight: 500;
}

.myImage {
    align-self: center;
    width: 30%;
    height: 30%;
    margin: 0;
    padding: 0;
    border-radius: 50%;
}