.intro {
    -webkit-box-pack: center;
    /* Centers content in the cross axis */
    -ms-flex-pack: center;
    margin: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centers content in the main axis */
    align-items: center;
    width: 80%;
    padding: 20px;
    /* Simplified padding */
    border-radius: 20px;
}

.introText {
    padding-right: 15px;
    text-align: center;
    width: 100%;
}

.introText p {
    font-weight: 600;
}

.myImage {
    align-self: center;
    width: 30%;
    height: 30%;
    margin: 0;
    padding: 0;
    border-radius: 50%;
}